body {
	background-color: #fff;
	color: #000;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	overflow-x: hidden;
}

.clear { clear: both; }

.spacer-header {
	width: 100%;
	height: 2px;
	background-color: #c40303;
}

.menu { width: 100%; padding: 0; margin: 0;}

.navbar-brand {
	padding: 4px 15px;
}

.navigation {
	width: 100%;
	background-color: #d6362e;
}


.navbar-default .navbar-collapse, .navbar-default .navbar-form{	margin: 0; }

.navigation a { color: #fff !important; }

.nav .navbar-nav {
	margin: 0 auto;
	text-align: center;
}

.navbar-nav>li>.dropdown-menu {
	margin-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background-color: #d6362e;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	color: #555;
	background-color: #d6362e;
}

.dropdown-menu > li > a:hover {
	background-color: #e7402e;
	background-image: none;
}

.navbar-default {
	background-color: none;
	border-color: none;
	border: 0;
}

.jumbotron { margin-bottom: 20px; }
.jumbotron h2 { text-align: center; }
.jumbotron p { text-align: center; }

aside { float: right; }

aside img {
	width: 100px;
	height: 100px;
	margin-top: 10px;
}

.item-container {
	width: 100%;
	height: 150px;
	background-color: #cdcdcd;
}

.item p { margin-bottom: 0; }
p.item-price { font-weight: bold; font-size: 15px; }
p.promo { color: red; }

.title h3 {
	text-align: left;
}

.box-item img{ display: block; margin: 0 auto; }
.box-item h3{ text-align: center; }
.box-item ul { list-style-type: none; padding: 0; }
.box-item li { text-align: center; }

.item p { text-align: center; }

footer {
	width: 100%;
	min-height: 180px;
	background-color: #333;
	color: #FFF;
	font-size: 17px;
	margin-top: 50px;
	text-align: center;
	position: relative;
	bottom: 0;
}

.btn-computer { background-color: #d6362e; color:white; }

.list-contact {
	list-style-type: none;
	text-align: left;
}

.navbar-default .navbar-toggle .icon-bar { background-color: #fff; }
.navbar-default .navbar-toggle:hover { background-color: #d6362e; }
.navbar-default .navbar-toggle:focus { background-color: #d6362e; }

.image {
	min-height: 400px;
	background: url('http://www.aidec-info.com/ckfinder/userfiles/images/Magasin/DSC01509.JPG') bottom center no-repeat;
}


footer .informations ul { list-style-type: none; }
footer .informations li { text-align: left; }

footer a { color: #ed4e49; }

footer .contact ul {
	list-style: none;
	padding: 0;
	display: inline-grid;
}
footer .contact li {
	padding-left: 1.3em;
	display: inline-flex;
}
footer li.phone:before {
	content: "\f095";
	font-family: FontAwesome;
	font-family: FontAwesome;
	display: inline-block;
	margin-left: -1.3em;
	width: 1.3em;
}
footer li.address:before {
	content: "\f2b9";
	font-family: FontAwesome;
	display: inline-block;
	margin-left: -1.3em;
	width: 1.3em;
}

footer .contact li.envelope:before {
	content: "\f0e0";
	font-family: FontAwesome;
	display: inline-block;
	margin-left: -1.3em;
	width: 1.3em;
}

.comment-container { margin-top: 5px; }

footer p.author { display: inline-block; margin-bottom: -5px;}
footer p.body { display: inline-block; color: grey;}
footer hr { border-color: #4b4a4a }
footer button { margin: 5px 5px; }

@media (max-width: 960px) {
	.navbar-header {
			float: none;
	}
	.navbar-left,.navbar-right {
			float: none !important;
	}
	.navbar-toggle {
			display: block;
	}
	.navbar-collapse {
			border-top: 1px solid transparent;
			box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-fixed-top {
			top: 0;
			border-width: 0 0 1px;
	}
	.navbar-collapse.collapse {
			display: none!important;
	}
	.navbar-nav {
			float: none!important;
			margin-top: 7.5px;
	}
	.navbar-nav>li {
			float: none;
	}
	.navbar-nav>li>a {
			padding-top: 10px;
			padding-bottom: 10px;
	}
	.collapse.in{
			display:block !important;
	}
	.navbar-nav .open .dropdown-menu {
			position: static;
			float: none;
			width: auto;
			margin-top: 0;
			background-color: transparent;
			border: 0;
			-webkit-box-shadow: none;
			box-shadow: none;
	}
}